{% extends 'background_nav.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

{% block content %}
<link rel="stylesheet" href="{{url_for('.static', filename='profile.css')}}">

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Operations</div>
    <div class="card-body">
        <h5 class="card-title">Admin dashboard options:</h5>
        <p class="card-text"> <a href="#" class="card-link">Admins</a></p>
        <p class="card-text"> <a href="#" class="card-link">Home News</a></p>
        <p class="card-text"> <a href="#" class="card-link">Products</a></p>
    </div>
</div>
{% endblock %}
</body>
</html>